html,
body {
    /*css for full size background image*/
    background: url(/image/bg.jpg) repeat;
    background-repeat: repeat-x repeat-y;

}
.center-text {
    text-align: center;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}